---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="Page Not Found"
  description="The page you're looking for doesn't exist."
>
  <section
    class="mx-auto flex min-h-[70vh] max-w-2xl flex-col items-center justify-center px-4 py-16 text-center sm:px-6 lg:px-8"
  >
    <img
      src="/img/RivetedRose_404Transparency.png"
      alt="Sad Rosie the Riveter"
      class="mb-8 h-64 w-auto object-contain sm:h-80"
      width="320"
      height="320"
    />
    <h1
      class="mb-4 text-3xl font-bold tracking-tight text-[rgb(var(--c-text))] sm:text-4xl"
    >
      Sorry! We can't do it!
    </h1>
    <p class="mb-8 max-w-md text-muted">
      This page doesn't exist...yet. But don't worry, we'll sort it out.
      <br />
      We've got this!
    </p>
    <a href="/" class="btn-solid-yellow"> Back to Home </a>
  </section>
</PageLayout>
